body{
    font-family: 'Myriad Pro', 'Segoe UI', Helvetica, Arial, sans-serif;
}
.label{
    font-weight:bold;
    color:#0066CC;
}
#container{
	position:fixed;
	left:40px;
	bottom:30px;
	opacity:0.9;
	background-color: #FFF;
	width:200px;
	height:150px;
	padding:10px;
	border-radius:15px;
	moz-border-radius:15px;
	border:solid 1px;
	padding-top:20px;
}
#search_button{
	cursor:pointer;
}

#legend{
	position:absolute;
	top:-10px;
	left:30px;
	height:20px;
	width:150px;
	background-color: #0066CC;
	color:#FFF;
	text-align:center;
	border:solid 1px;
	border-color:#000;
	font-weight:bold;
}
#map_canvas{
	height:100%
}
#search_form{
	position:relative;
}
#graph_container{
    position:relative;
    display:block;
    width:260;
    height:170;
}